<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Products</h4>
                    <p class="card-category">List of products</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-right">
                            <a th:href="@{/product-add}" class="btn btn-sm btn-primary">Add user</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th class="text-right">
                                Actions
                            </th>
                            </thead>
                            <tbody>
                            <tr th:each="product:${products}">
                                <td th:text="${product.getName()}"></td>
                                <td th:text="${product.getPrice()}"></td>
                                <td class="td-actions text-right">
                                    <a rel="tooltip" class="btn btn-success btn-link"
                                       th:href="@{'/product-details/'+${product.getId()}}"
                                       data-original-title="" title="">
                                        <i class="material-icons">pageview</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
