<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
<th:block th:fragment="navigation">

    <div class="sidebar" data-color="orange" data-background-color="white"
         data-image="https://material-dashboard-laravel.creative-tim.com/material/img/sidebar-1.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
            <a th:href="@{/}" class="simple-text logo-normal">
                SNACKS STORE
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="material-icons">dashboard</i>
                        <p>dashboard</p>
                    </a>
                </li>
                <li class="nav-item  active">
                    <a class="nav-link" data-toggle="collapse" href="#laravelExample" aria-expanded="true">
                        <i class="material-icons">store</i>
                        <p>Product
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse show" id="laravelExample">
                        <ul class="nav">
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/products}">
                                    <i class="material-icons">list</i>
                                    <span class="sidebar-normal">List </span>
                                </a>
                            </li>
                            <!--<li class="nav-item">-->
                                <!--<a class="nav-link" href="https://material-dashboard-laravel.creative-tim.com/user">-->
                                    <!--<span class="sidebar-mini"> UM </span>-->
                                    <!--<span class="sidebar-normal"> User Management </span>-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="https://material-dashboard-laravel.creative-tim.com/table-list">-->
                        <!--<i class="material-icons">content_paste</i>-->
                        <!--<p>Table List</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="https://material-dashboard-laravel.creative-tim.com/typography">-->
                        <!--<i class="material-icons">library_books</i>-->
                        <!--<p>Typography</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="https://material-dashboard-laravel.creative-tim.com/icons">-->
                        <!--<i class="material-icons">bubble_chart</i>-->
                        <!--<p>Icons</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="https://material-dashboard-laravel.creative-tim.com/map">-->
                        <!--<i class="material-icons">location_ons</i>-->
                        <!--<p>Maps</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="https://material-dashboard-laravel.creative-tim.com/notifications">-->
                        <!--<i class="material-icons">notifications</i>-->
                        <!--<p>Notifications</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="https://material-dashboard-laravel.creative-tim.com/rtl-support">-->
                        <!--<i class="material-icons">language</i>-->
                        <!--<p>RTL Support</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item active-pro">-->
                    <!--<a class="nav-link" href="https://material-dashboard-laravel.creative-tim.com/upgrade">-->
                        <!--<i class="material-icons">unarchive</i>-->
                        <!--<p>Upgrade to PRO</p>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>
