<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <form action="/admin/product-save" method="post"
                  autocomplete="off" class="form-horizontal">
                <input type="hidden" name="uuid">
                <input type="hidden" name="_token" value="ueLNYcgVay9rj3UwsHFnnw0yK5T01sHpKEjnk3Qu">
                <div class="card ">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">PRODUCT</h4>
                        <p class="card-category">Add new product</p>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 text-right">
                                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Name <b style="color: red">*</b></label>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text"
                                           placeholder="Name" required aria-required="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Price In <b style="color: red">*</b></label>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="priceIn" id="priceIn" type="number"
                                           placeholder="Price In" required aria-required="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Price Out <b style="color: red">*</b></label>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="priceOut" id="priceOut" type="number"
                                           placeholder="Price Out"  aria-required="true" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Details</label>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <textarea class="form-control" name="details" id="details"
                                              placeholder="Product details..." required
                                              aria-required="true" th:rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Image Path</label>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="imagePath" id="imagePath" type="text"
                                           placeholder="Image Path" aria-required="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
