<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of product</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">PRODUCT</h4>
                    <p class="card-category">Product details information</p>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-12 text-right">
                            <a class="btn btn-sm btn-primary"
                               th:href="@{'/admin/product-update/'+${product.getUuid()}}"> Update</a>
                            <a class="btn btn-sm btn-primary"
                               th:href="@{'/admin/product-delete/' +${product.getUuid()}}"> Remove</a>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input class="form-control" name="name" id="name" type="text"
                                       placeholder="Name" th:value="${product.getName()}" required="true"
                                       aria-required="true" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input class="form-control" name="priceIn" id="priceIn" type="text"
                                       placeholder="Price" th:value="${product.getPriceIn()}" required="true"
                                       aria-required="true" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input class="form-control" name="priceIn" id="priceOut" type="text"
                                       placeholder="Price" th:value="${product.getPriceOut()}" required="true"
                                       aria-required="true" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Details</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                    <textarea class="form-control" name="details" id="details" required="true"
                                              placeholder="Product details..." th:text="${product.getDetails()}"
                                              aria-required="true" th:rows="5" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-7">
                            <img th:src="${product.getImagePath()}"
                                 alt="" width="100px" height="100px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
