<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles list</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">ROLE</h4>
                    <p class="card-category">List of roles</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-right">
                            <a th:href="@{/admin/role-add}" class="btn btn-sm btn-primary">Add</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th> ID</th>
                            <th> Role</th>
                            <th class="text-right"> Actions</th>
                            </thead>
                            <tbody>
                            <tr th:each="role:${roles}">
                                <td th:text="${role.getUuid()}"></td>
                                <td th:text="${role.getRole()}"></td>
                                <td class="td-actions text-right">
                                    <a th:href="@{'/admin/role-update/'+${role.getUuid()}}"
                                       class="btn btn-sm btn-primary">update</a>
                                    <a th:href="@{'/admin/role-delete/'+${role.getUuid()}}"
                                       class="btn btn-sm btn-primary">delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
